* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* vendor prefixes */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Source Serif 4', serif;
  font-size: 62.5%;
}

body {
  color: #A54328;
  font-size: 1.6rem;
  background-image: url('./images/bgpaper.jpeg');
}

main {
  box-sizing: content-box;
  max-width: 33rem;
  margin-inline: auto; /* linhas laterais */
  padding: 5.6rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

img {
  width: 100%;
  margin-block: 3.2rem;
}

h1, h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}

h2 {
  margin-bottom: 3.2rem;
}

p, li, strong {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

ul, ol {
  padding-left: 2rem;
}

ul {
  margin-bottom: 2.4rem;
}

button {
  background-color: #A54328;
  color: white;
  padding: .8rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  margin-top: 3.2rem;
}

button:hover {
  background-color: #6c200b;
}

/* media queries */

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    gap: 16rem;
    max-width: fit-content;
  }

  .recipe {
    max-width: 43.5rem;
  }

  .ingredients {
    max-width: 52.5rem;
  }

  h1, h2 {
    font-size: 4rem;
    line-height: 5.1rem;
  }

  p, li, strong {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  button {
    padding: 1rem 2rem;
    font: 1.4rem;
    line-height: 2rem;
  }
}